.adjustable-stat{
    display: flex;
    gap: 8px;
}
.name-and-value{
    display: flex;
}

.stat-value{
    color: blue;
}

.gear{
    padding: 6px 0;
    margin: 6px 0;
    display: flex;
    flex-direction: column;
    gap: 4px;
}

.energies{
    display: flex;
    gap: 6px;
}

.divider{
    margin: 6px 0;
    border-bottom: solid 1px grey;
}
